    <!-- Form to fill out contact info -->
    <form id="contact">
        <p>
        Please fill out info to get in contact with Jonathan.
        </p>
        <p>
            <label for="txtFName">First Name:&nbsp&nbsp</label>
            <input id="fName" name="txtFName" size="25" type="text" tabindex="1" required="required">
        </p>
        <p>
            <label for="txtLName">Last Name:&nbsp&nbsp</label>
            <input id="lName" name="txtLName" size="25" type="text" tabindex="3" required="required">
        </p>
        <p>
            <label for="txtPhone">Phone Number:&nbsp&nbsp</label>
            <input id="phone" name="txtPhone" size="25" type="text" tabindex="5" required="required">
        </p>
        <p>
            <label for="txtEmail">Email:&nbsp&nbsp</label>
            <input id="email" name="txtEmail" size="25" type="text" tabindex="7" required="required">
        </p>
        <p>
            <label for="txtMessage">Message:&nbsp&nbsp</label>
            <textarea id="message" name="txtMessage" rows="4" cols="40" type="text" tabindex="9"></textarea>
        </p>
        <p>
            <a href="/home">
                <input name="btnConfirm" tabindex="11" type="button" id="submit" value="Confirm" onclick="getInfo()">
            </a>
        </p>
    </form>