    <!-- home content -->
    <img id="main_logo" src="assets/images/logo.png" alt="logo">
    <br><br>
    <p>
        I am working towards building a career as a software engineer. I have found a great interest in app and web development and hope to show that through my work.
        I have enjoyed learning new programming languages and plan on learning many more.
    </p>