<img src="public/assests/images/Jon.jpg">

<p>
    My name is Jonathan Laxon and I grew up in London, Ontario. I first went to college to learn music recording and have since gone on to learn programming in college.
    I know C#, Java, JavaScript, HTML, CSS, and LUA. My hobbies include video games, Dungeons & Dragons, and outdoor activities like kayaking and hiking.
</p>