  <!-- Bottom Nav -->
  <footer id="bottom">
    <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
      <h6 class="display-8 navbar-text">&copy; Copyright 2022 All Rights Reserved</h6>
    </nav>
  </footer>