    <h2>Summit Gaming Webpages</h2>
    <img id="project_picture" src="assets/images/summit.jpg" alt="summit gaming website"><br><br>
    <p>
        I created three webpages all with the same function where they showed the activities and jobs in a gaming community. The pages had pictures which would flip to
        show a description of the job or activity. For the three pages I did all the html and javascript, along with some of the css.
    </p>
    <br>
    <h2>Banking Program</h2>
        <img id="project_picture" src="assets/images/bank.jpg" alt="banking program with code in background"><br><br>
    <p>
        I created a banking program that would create accounts and have a withdraw and deposit for the different accounts. I did all the coding for this program.
    </p>
    <br>
    <h2>Premier Program</h2>
        <img id="project_picture" src="assets/images/premiers.jpg" alt="the gui of the program along with the code"><br><br>
    <p>
        I created a program that stored all the Ontario premiers, past and present. You could click on the list of premiers and their picture along with some info on them
        would pop up. I did all the coding for this program.
    </p>