    <!-- services content -->
    <h2>Services Offered</h2>
    <ul>
        <li>General Programming (Java, C#, LUA, Python)</li>
        <li>Web Development (HTML, CSS, JavaScript, NodeJS)</li>
        <li>Database Development (SQL, MongoDB)</li>
    </ul>
    <img id="service_picture" src="assets/images/programming.jpg" alt="guy programming">
    <img id="service_picture" src="assets/images/database.jpeg" alt="picture of a database">
    <br><br>