/* Custom css goes here */
body, html {
   background-image: linear-gradient(black, #212529);
   background-repeat: no-repeat;
   min-height: 100vh;
   color: white
}
 
 h1 {
    text-align: center;
    padding: 0.5em;
 }

 /* css for main content on pages */
 #main_content {
  margin-bottom: 70px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 6px;
  border: 3px solid black;
 }

 /* logo on home page */
 #main_logo {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 label {
   width: 200px;
   float: left;
   text-align: right;
 }

/* picture on services page */
 #service_picture {
   width: 400px;
   height: 300px;
 }

/* pictures on projects page */
#project_picture {
   width: 600px;
   height: 350px;
}